#bdb-container {
  position: relative;
  padding-top: 6rem;
}

#bdb-container .btn-rfp-block {
	text-align: center;
	/* margin: 2rem 0 0; */
}

#bdb-container .outer-btn {
	display: inline-block;
	/* border: 1px solid #D6B981; */
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 172px;
	cursor: pointer;
	/* margin-top: 20px; */
}

#bdb-container .btn-rfp-block .btn {
	width: 100%;
	height: 100%;
	/* background-color: #D6B981; */
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#bdb-container .btn-rfp-block .btn span {
  font-size: 18px;
}

#bdb-container .btn-rfp-block .btn:hover { 
  background-color: transparent;
	color: rgba(69,65,78, .6);
	cursor: pointer;
}

#bdb-container .db-title {
  font-family: OpenSans-SemiBold;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: rgba(0,0,0,0.6);
  margin: 2rem 3rem 0;
  text-align: center;
}

#bdb-container .db-subtitle {
  font-family: OpenSans-SemiBold;
  font-size: 22px;
  letter-spacing: 0.6px;
  color: rgba(0,0,0,0.6);
  margin-top: 15px;
}

#bdb-container .db-flx-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem 2rem;
}

#bdb-container .db-tbl-block {
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
  margin: 0 3rem 0;
  /* height: calc(100vh - 17rem); */
}

#bdb-container .tbl-header-block {
  display: flex;
  height: 2.5rem;
  align-items: center;
  background: rgba(175, 174, 177, 0.6);
  padding: 0 0.8rem 0 .5rem;
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  border-radius: 6px 6px 0 0;
}

#bdb-container .tbl-body-container {
  height: calc(100vh - 20rem);
  overflow: scroll;
}

#bdb-container .tbl-body-block {
  display: flex;
  /* height: 3rem; */
  align-items: center;
  /* background: rgba(175, 174, 177, 0.6); */
  padding: 5px .5rem;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

#bdb-container .tbl-body-block:nth-child(2n){
  background: #f9f9f9;
}

#bdb-container .tbl-head.col-1 { width: 5%; padding: 0 1rem; }
#bdb-container .tbl-head.col-2 { width: 12%; padding: 0 1rem; }
#bdb-container .tbl-head.col-3 { width: 33%; padding: 0 1rem; }
#bdb-container .tbl-head.col-4 { width: 10%; padding: 0 1rem; }
#bdb-container .tbl-head.col-5 { width: 15%; padding: 0 1rem; }
#bdb-container .tbl-head.col-6 { width: 15%; padding: 0 1rem; }
#bdb-container .tbl-head.col-7 { width: 10%; padding: 0 1rem; }

#bdb-container .tbl-body.col-1 { width: 5%; padding: 0 1rem; }
#bdb-container .tbl-body.col-2 { width: 12%; padding: 0 1rem; }
#bdb-container .tbl-body.col-3 { width: 33%; padding: 0 1rem; }
#bdb-container .tbl-body.col-4 { width: 10%; padding: 0 1rem; }
#bdb-container .tbl-body.col-5 { width: 15%; padding: 0 1rem; }
#bdb-container .tbl-body.col-6 { width: 15%; padding: 0 1rem; }
#bdb-container .tbl-body.col-7 { width: 10%; padding: 0 1rem; }

#bdb-container .btn-action {
  width: 90px;
  height: 20px;
}

#bdb-container .btn-action-box { text-align:left }

#bdb-container .btn-act-stl { font-size: 12px; }

#bdb-container .btn-stl-dis { color: red; }

#bdb-container .tbl-empty-row {
  width: 100%;
  height: calc(100vh - 22rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpenSans-Regular;
  color: rgba(0,0,0,0.3);
}