#brfp-det-form { 
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 6rem;
}

#brfp-det-form .rfp-container {
	/* border: 1px solid red; */
	width: 70rem;
	margin-bottom: 6rem;
}

#brfp-det-form .rfp-block img {
	height: 40px;
	position: absolute;
	padding-top: 20px;
}

#brfp-det-form .comp-det-block { 
	/* border: 1px solid blue; */
	padding: 2.5rem;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
}

#brfp-det-form .rfp-title {
	display: flex;;
	justify-content: center;
	align-items: center;
	height: 5rem;
	font-size: 28px;
}

#brfp-det-form .rfp-title,
#brfp-det-form .rfp-sub-title {
	font-family: OpenSans-Regular;
	letter-spacing: 4px;
	line-height: 36px;
	margin-bottom: 20px;
	margin-top: 1.5625VW;
	text-align: center;
}

#brfp-det-form .rfp-sub-title {
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 32px;
	text-align: left;
}

#brfp-det-form .input-container {
	margin-bottom: 1.3020833333333335VW;
}

#brfp-det-form .input-container .input-groups {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* text-transform: capitalize; */
}

#brfp-det-form .input-container .input-groups .field-caption {
	width: 14rem;
	text-align: left;
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	vertical-align: middle;
	margin-bottom: 0px;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
}

#brfp-det-form .input-container .input-groups .field-caption.ex-size {
	width: 22rem !important;
	font-family: OpenSans-Regular;
}

#brfp-det-form .input-container .input-groups .form-field {
	width: 16rem;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
	color: rgba(0,0,0,0.6);
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 10px;
}

#brfp-det-form .input-container .input-groups .form-field.ex-size {
	/* width: calc(100% - 15rem) !important; */
	width: 99%;
}

#brfp-det-form .out-ex-size {
	width: calc(100% - 15rem) !important;
}

#brfp-det-form .err-width {
	width: 16rem !important;
}


#brfp-det-form .input-container .input-groups .form-field.sm-size {
	width: 10rem !important;
}

#brfp-det-form .radio-field .radio-input-section {
	width: 50%;
	display: inline-block;
}

#brfp-det-form .radio-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 25px;
	-webkit-user-select: none;
	user-select: none;
	color: #000000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}
#brfp-det-form .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#brfp-det-form .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	border-radius: 50%;
}

#brfp-det-form .textarea-sec textarea {
	width: 99%;
	border: 1px solid #e3e3e3;
	min-height: 40px;
	color: rgba(0,0,0,0.6);
	padding: 10px 10px;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}

#brfp-det-form .flex-box {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

#brfp-det-form .form-submit-section {
	text-align: center;
	margin: 2rem 0 0;
}

#brfp-det-form .outer-btn {
	display: inline-block;
	/* border: 1px solid #D6B981; */
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 142px;
	cursor: pointer;
	/* margin-top: 20px; */
}

#brfp-det-form .form-submit-section .btn {
	width: 100%;
	height: 100%;
	/* background-color: #D6B981; */
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#brfp-det-form .form-submit-section .btn:hover { 
  background-color: transparent;
  color: rgba(69,65,78, .6);
}

#brfp-det-form .self-attest-title { margin-top: 3rem; margin-bottom: 1rem; }

#brfp-det-form .self-attest-title, #brfp-det-form .self-attest-chk-box-title { 
	font-family: OpenSans-Regular;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
}

#brfp-det-form .self-attest-chk-box-title {
	font-size: 14px;
	line-height: 17px;
}

#brfp-det-form .self-attest-chk-box {
	margin-bottom: 20px;
	margin-right: 10px;
}

#brfp-det-form .chk-box { margin-top : 2rem; }

#brfp-det-form .cls-file-upload {
	font-family: OpenSans-Regular;
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 17px;
}

#brfp-det-form .no-pad {  padding: 0 !important; }
#brfp-det-form .mar-bot {  margin-bottom: 0 !important; }
#brfp-det-form .pad-lft {  padding-left: 14rem !important; }
#brfp-det-form .out-radio-ex-size { padding-left: 14rem !important; margin-bottom: 1.3020833333333335VW; }

#brfp-det-form .total {
	border: none !important;
	color: rgba(0,0,0,0.8) !important;
	font-family: 'OpenSans-SemiBold';
	font-size: 14px !important;
	width: 16rem !important;
}

#brfp-det-form .optionContainer li:hover { background: rgb(202, 198, 198); color: #fff !important; }

#brfp-det-form .optionListContainer .checkbox { margin: 0 10px 0 0; }

#brfp-det-form .btn-add { height: 30px; width: 350px; }

#brfp-det-form .btn-right { text-align: right; }

#brfp-det-form .close-icon {
	background: #c7c6c6;
  padding: 5px 10px;
	border-radius: 100%;
	cursor: pointer;
	margin-left: 10px;
	color: #fff;
	font-family: OpenSans-Bold;
	font-size: 16px;
 }

 #brfp-det-form .new-ven-ex-size { width: 94% !important; }
 #brfp-det-form .no-wrap { white-space: nowrap; }


/* custom Radio fields - start */
#brfp-det-form .radio-container { display: inline-block; position: relative; cursor: pointer; padding-left:25px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #000000; font-family: OpenSans-Regular; font-size: 14px; line-height: 19px; }
/* Hide the browser's default radio button */
#brfp-det-form .radio-container input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */
#brfp-det-form .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border:1px solid #e3e3e3; background-color: #ffffff; border-radius: 50%; }
/* On mouse-over, add a grey background color */
#brfp-det-form .radio-container:hover input ~ .checkmark { background-color: #FFFFFF; }
/* Create the indicator (the dot/circle - hidden when not checked) */
#brfp-det-form .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */
#brfp-det-form .radio-container input:checked ~ .checkmark:after { display: block; background-color: rgba(69,65,78, .6); }
/* Style the indicator (dot/circle) */
#brfp-det-form .radio-container .checkmark:after { top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: white; }
/* custom Radio fields - end */


/* custom checkbox - Start */
/* The container */
#brfp-det-form .chk-box-block {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
#brfp-det-form .chk-box-block input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
#brfp-det-form .checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
	border: 2px solid #eee;
	margin-left: 22px;
}
/* On mouse-over, add a grey background color */
#brfp-det-form .chk-box-block:hover input ~ .checkbox-checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
#brfp-det-form .chk-box-block input:checked ~ .checkbox-checkmark {
	background-color: rgba(175, 174, 177, 0.6);
	margin-left: 22px;
}
/* Create the checkmark/indicator (hidden when not checked) */
#brfp-det-form .checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
#brfp-det-form .chk-box-block input:checked ~ .checkbox-checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
#brfp-det-form .chk-box-block .checkbox-checkmark:after { left: 6px; top: 2px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/* custom checkbox - End */


#brfp-det-form .db-tbl-block {
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
  margin: 0;
}

#brfp-det-form .tbl-header-block {
  display: flex;
  height: 2.5rem;
  align-items: center;
  background: rgba(175, 174, 177, 0.6);
  padding: 0 0.8rem 0 .5rem;
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  border-radius: 6px 6px 0 0;
}

#brfp-det-form .tbl-body-container {
  height: 15rem;
  overflow: scroll;
}

#brfp-det-form .tbl-body-block {
  display: flex;
  /* height: 2.5rem; */
  align-items: center;
  /* background: rgba(175, 174, 177, 0.6); */
  padding: 5px .5rem;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
}

#brfp-det-form .tbl-body-block:nth-child(2n){
  background: #f9f9f9;
}

#brfp-det-form .tbl-head.col-1 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-2 { width: 30%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-3 { width: 40%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-4 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-5 { width: 10%; padding: 0 1rem; }

#brfp-det-form .tbl-body.col-1 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-2 { width: 30%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-3 { width: 40%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-4 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-5 { width: 10%; padding: 0 1rem; }

#brfp-det-form .bid-vendor-title {
	border-top: 1px solid rgba(69,65,78,.09);
	font-family: OpenSans-SemiBold;
	color: rgba(0,0,0,0.6);
	margin: 0;
	padding: 1rem 0;
}

#brfp-det-form .tbl-empty-row {
  width: 100%;
  height: calc(100vh - 24rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpenSans-Regular;
  color: rgba(0,0,0,0.3);
}

#brfp-det-form .tbl-head.col-11 { width: 5%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-22 { width: 20%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-33 { width: 35%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-44 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-55 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-66 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-head.col-77 { width: 10%; padding: 0 1rem; }

#brfp-det-form .tbl-body.col-11 { width: 5%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-22 { width: 20%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-33 { width: 35%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-44 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-55 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-66 { width: 10%; padding: 0 1rem; }
#brfp-det-form .tbl-body.col-77 { width: 10%; padding: 0 1rem; }

#brfp-det-form .doc-title {
	font-family: OpenSans-Regular;
	color: rgba(0,0,0,0.6);
	margin-top: 2rem;
}

#brfp-det-form .doc-title span {
	font-family: OpenSans-SemiBold;
	text-decoration: underline;
}

#brfp-det-form .doc-title span:hover {
	cursor: pointer;
	text-decoration: none;
}

