#ven-reg-form { 
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 6rem;
}

#ven-reg-form .vrf-container {
	/* border: 1px solid red; */
	width: 70rem;
	margin-bottom: 6rem;
}

#ven-reg-form .comp-det-block { 
	/* border: 1px solid blue; */
	padding: 2.5rem;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
}

#ven-reg-form .vrf-title {
	display: flex;;
	justify-content: center;
	align-items: center;
	height: 5rem;
	font-size: 28px;
}

#ven-reg-form .vrf-title,
#ven-reg-form .vrf-sub-title {
	font-family: OpenSans-Regular;
	letter-spacing: 4px;
	line-height: 36px;
	margin-bottom: 20px;
	margin-top: 1.5625VW;
	text-align: center;
}

#ven-reg-form .vrf-sub-title {
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 32px;
	text-align: left;
}

#ven-reg-form .input-container {
	margin-bottom: 1.3020833333333335VW;
}

#ven-reg-form .input-container .input-groups {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* text-transform: capitalize; */
}

#ven-reg-form .input-container .input-groups .field-caption {
	width: 14rem;
	text-align: left;
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	vertical-align: middle;
	margin-bottom: 0px;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
}

#ven-reg-form .input-container .input-groups .field-caption.ex-size {
	width: 22rem !important;
	font-family: OpenSans-Regular;
}

#ven-reg-form .input-container .input-groups .field-caption.ampm-size {
	width: 2rem !important;
	padding-left: 5px;
}

#ven-reg-form .input-container .input-groups .form-field {
	width: 16rem;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
	color: rgba(0,0,0,0.6);
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 10px;
}

#ven-reg-form .input-container .input-groups .form-field.ex-size {
	/* width: calc(100% - 15rem) !important; */
	width: 99%;
}

#ven-reg-form .out-ex-size {
	width: calc(100% - 15rem) !important;
}

#ven-reg-form .input-container .input-groups .form-field.sm-size {
	width: 10rem !important;
}

#ven-reg-form .input-container .input-groups .form-field.dayhr-field {
	width: 14rem !important;
}

#ven-reg-form .input-container .input-groups .form-field.ampm-field {
	width: 5rem;
}

#ven-reg-form .radio-field .radio-input-section {
	width: 50%;
	display: inline-block;
}

#ven-reg-form .radio-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 25px;
	-webkit-user-select: none;
	user-select: none;
	color: #000000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}
#ven-reg-form .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#ven-reg-form .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	border-radius: 50%;
}

#ven-reg-form .textarea-sec textarea {
	width: 99%;
	border: 1px solid #e3e3e3;
	min-height: 40px;
	color: rgba(0,0,0,0.6);
	padding: 10px 10px;
}

#ven-reg-form .flex-box {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

#ven-reg-form .form-submit-section {
	text-align: center;
	margin: 2rem 0 0;
}

#ven-reg-form .outer-btn {
	display: inline-block;
	/* border: 1px solid #D6B981; */
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 142px;
	cursor: pointer;
	/* margin-top: 20px; */
}

#ven-reg-form .form-submit-section .btn {
	width: 100%;
	height: 100%;
	/* background-color: #D6B981; */
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#ven-reg-form .form-submit-section .btn:hover { 
  background-color: transparent;
  color: rgba(69,65,78, .6);
}

#ven-reg-form .self-attest-title { margin-top: 3rem; margin-bottom: 1rem; }

#ven-reg-form .self-attest-title, #ven-reg-form .self-attest-chk-box-title { 
	font-family: OpenSans-Regular;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
}

#ven-reg-form .self-attest-chk-box-title {
	font-size: 14px;
	line-height: 17px;
}

#ven-reg-form .self-attest-chk-box {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-top: 1px;
}

#ven-reg-form .chk-box { margin-top : 2rem; }

#ven-reg-form .cls-file-upload {
	font-family: OpenSans-Regular;
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 17px;
}

#ven-reg-form .no-pad {  padding: 0 !important; }
#ven-reg-form .mar-bot {  margin-bottom: 0 !important; }
#ven-reg-form .pad-lft {  padding-left: 14rem !important; }
#ven-reg-form .out-radio-ex-size { padding-left: 14rem !important; margin-bottom: 1.3020833333333335VW; }

/* custom Radio fields - start */
#ven-reg-form .radio-container { display: inline-block; position: relative; cursor: pointer; padding-left:25px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #000000; font-family: OpenSans-Regular; font-size: 14px; line-height: 19px; }
/* Hide the browser's default radio button */
#ven-reg-form .radio-container input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */
#ven-reg-form .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border:1px solid #e3e3e3; background-color: #ffffff; border-radius: 50%; }
/* On mouse-over, add a grey background color */
#ven-reg-form .radio-container:hover input ~ .checkmark { background-color: #FFFFFF; }
/* Create the indicator (the dot/circle - hidden when not checked) */
#ven-reg-form .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */
#ven-reg-form .radio-container input:checked ~ .checkmark:after { display: block; background-color: rgba(69,65,78, .6); }
/* Style the indicator (dot/circle) */
#ven-reg-form .radio-container .checkmark:after { top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: white; }
/* custom Radio fields - end */

