#rfp-form { 
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 6rem;
}

#rfp-form .rfp-container {
	/* border: 1px solid red; */
	width: 70rem;
	margin-bottom: 6rem;
}

#rfp-form .comp-det-block { 
	/* border: 1px solid blue; */
	padding: 2.5rem;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
}

#rfp-form .rfp-title {
	display: flex;;
	justify-content: center;
	align-items: center;
	height: 5rem;
	font-size: 28px;
}

#rfp-form .rfp-title,
#rfp-form .rfp-sub-title {
	font-family: OpenSans-Regular;
	letter-spacing: 4px;
	line-height: 36px;
	margin-bottom: 20px;
	margin-top: 1.5625VW;
	text-align: center;
}

#rfp-form .rfp-sub-title {
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 32px;
	text-align: left;
}

#rfp-form .input-container {
	margin-bottom: 1.3020833333333335VW;
}

#rfp-form .input-container .input-groups {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* text-transform: capitalize; */
}

#rfp-form .input-container .input-groups .field-caption {
	width: 14rem;
	text-align: left;
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	vertical-align: middle;
	margin-bottom: 0px;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
}

#rfp-form .input-container .input-groups .field-caption.ex-size {
	width: 22rem !important;
	font-family: OpenSans-Regular;
}

#rfp-form .input-container .input-groups .form-field {
	width: 16rem;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
	color: rgba(0,0,0,0.6);
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 10px;
}

#rfp-form .input-container .input-groups .form-field.ex-size {
	/* width: calc(100% - 15rem) !important; */
	width: 99%;
}

#rfp-form .out-ex-size {
	width: calc(100% - 15rem) !important;
}

#rfp-form .err-width {
	width: 16rem !important;
}


#rfp-form .input-container .input-groups .form-field.sm-size {
	width: 10rem !important;
}

#rfp-form .radio-field .radio-input-section {
	width: 50%;
	display: inline-block;
}

#rfp-form .radio-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 25px;
	-webkit-user-select: none;
	user-select: none;
	color: #000000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}
#rfp-form .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#rfp-form .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	border-radius: 50%;
}

#rfp-form .textarea-sec textarea {
	width: 99%;
	border: 1px solid #e3e3e3;
	min-height: 40px;
	color: rgba(0,0,0,0.6);
	padding: 10px 10px;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}

#rfp-form .flex-box {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

#rfp-form .form-submit-section {
	text-align: center;
	margin: 2rem 0 0;
}

#rfp-form .outer-btn {
	display: inline-block;
	/* border: 1px solid #D6B981; */
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 142px;
	cursor: pointer;
	/* margin-top: 20px; */
}

#rfp-form .form-submit-section .btn {
	width: 100%;
	height: 100%;
	/* background-color: #D6B981; */
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#rfp-form .form-submit-section .btn:hover { 
  background-color: transparent;
  color: rgba(69,65,78, .6);
}

#rfp-form .self-attest-title { margin-top: 3rem; margin-bottom: 1rem; }

#rfp-form .self-attest-title, #rfp-form .self-attest-chk-box-title { 
	font-family: OpenSans-Regular;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
}

#rfp-form .self-attest-chk-box-title {
	font-size: 14px;
	line-height: 17px;
}

#rfp-form .self-attest-chk-box {
	margin-bottom: 20px;
	margin-right: 10px;
}

#rfp-form .chk-box { margin-top : 2rem; }

#rfp-form .cls-file-upload {
	font-family: OpenSans-Regular;
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 17px;
}

#rfp-form .no-pad {  padding: 0 !important; }
#rfp-form .mar-bot {  margin-bottom: 0 !important; }
#rfp-form .pad-lft {  padding-left: 14rem !important; }
#rfp-form .out-radio-ex-size { padding-left: 14rem !important; margin-bottom: 1.3020833333333335VW; }

#rfp-form .total {
	border: none !important;
	color: rgba(0,0,0,0.8) !important;
	font-family: 'OpenSans-SemiBold';
	font-size: 14px !important;
	width: 16rem !important;
}

#rfp-form .optionContainer li:hover { background: rgb(202, 198, 198); color: #fff !important; }

#rfp-form .optionListContainer .checkbox { margin: 0 10px 0 0; }

#rfp-form .btn-add { height: 30px; width: 180px; }

#rfp-form .btn-right { text-align: right; }

#rfp-form .close-icon { 
	background: #c7c6c6;
  padding: 5px 10px;
	border-radius: 100%;
	cursor: pointer;
	margin-left: 10px;
	color: #fff;
	font-family: OpenSans-Bold;
	font-size: 16px;
 }

 #rfp-form .new-ven-ex-size { width: 94% !important; }
 #rfp-form .no-wrap { white-space: nowrap; }


/* custom Radio fields - start */
#rfp-form .radio-container { display: inline-block; position: relative; cursor: pointer; padding-left:25px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #000000; font-family: OpenSans-Regular; font-size: 14px; line-height: 19px; }
/* Hide the browser's default radio button */
#rfp-form .radio-container input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */
#rfp-form .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border:1px solid #e3e3e3; background-color: #ffffff; border-radius: 50%; }
/* On mouse-over, add a grey background color */
#rfp-form .radio-container:hover input ~ .checkmark { background-color: #FFFFFF; }
/* Create the indicator (the dot/circle - hidden when not checked) */
#rfp-form .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */
#rfp-form .radio-container input:checked ~ .checkmark:after { display: block; background-color: rgba(69,65,78, .6); }
/* Style the indicator (dot/circle) */
#rfp-form .radio-container .checkmark:after { top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: white; }
/* custom Radio fields - end */

#rfp-form .rfp-block img {
	height: 40px;
	position: absolute;
	padding-top: 20px;
}
