#mail-confirmation-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mail-confirmation-block .mail-confirmation-box {
  margin-top: 60px;
}

#mail-confirmation-block .mail-confirmation-succ-title {
  font-family: OpenSans-Bold;
  font-size: 28px;
  color: rgba(0,0,0,0.6);
  letter-spacing: 6px;
  line-height: 26px;
}

#mail-confirmation-block .mail-confirmation-succ-sub-title {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #000;
  letter-spacing: 3px;
  line-height: 16px;
  padding: 30px 0 15px;
  opacity: 0.6;;
}

#mail-confirmation-block .mail-confirmation-go-back {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: rgba(0,0,0,0.6);
  letter-spacing: 2px;
  line-height: 16px;
}

#mail-confirmation-block .mail-confirmation-go-back span {
  font-family: OpenSans-SemiBold;
  text-decoration: underline;
  cursor: pointer;
}

