#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home-container .carousel-block {
	position: relative;
	width: 100%;
	height: 100vh;
}

.carousel .slide img {
	height: 100vh;
	object-fit: cover;
	object-position: 0px -65px;
}

.top-toaster {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
}

#home-container .hdr-block {
  width: 450px;
  height: 110px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#home-container .login-block {
  position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	width: 100%;
}

#home-container .flx-block {
  width: 320px;
  height: 370px;
  background: rgba(250, 250, 250, 0.8);
	border-radius: 6px;
	margin-right: 6rem;
	margin-top: 6rem;
}


/* Button - Start */
#home-container .login-section {
	text-align: center;
	margin: 1.5rem 0 0;
}
#home-container .outer-btn {
	display: inline-block;
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 190px;
	cursor: pointer;
}
#home-container .login-section .btn {
	width: 100%;
	height: 100%;
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}
#home-container .login-section .btn:hover { 
  background-color: transparent;
	color: rgba(69,65,78, .6);
	cursor: pointer;
}
/* Button - End */

