#header {
	position: absolute;
	top: 0;
	width: 100%;
}

#header .hdr-block {
	position: fixed;
  width: 100%;
	height: 6rem;
	background: #fff;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
	z-index: 1;
}

#header .brand-logo {
  position: relative;
  width: 145px;
  height: 80px;
  margin-top: -8px;
  margin-left: 20px;
}

#header .hdr-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 1rem;
  height: 6rem;
}

/* Dropdown Menu - Start */
#header .dropbtn-title {
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0,0,0,0.6);
}
#header .dropbtn {
  background-color: rgba(175, 174, 177, 0.6);
  border-radius: 100%;
  color: white;
  padding: 12px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#header .dropbtn:hover, .dropbtn:focus {
  /* background-color: rgba(73, 72, 74, 0.6); */
  outline: none;
}
#header .dropdown {
  position: relative;
  display: inline-block;
}
#header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}
#header .dropdown-content a {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#header .dropdown a:hover { background-color: #ddd; }
#header .show { display: block; }
/* Dropdown Menu - End */