#reset-pwd-form {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
}

#reset-pwd-form .hdr-block {
	position: fixed;
	left:0;
	top: 0;
	filter: blur(8px);
	/* height: 145vh; */
}

#reset-pwd-form .brand-logo {
	position: fixed;
	z-index: 1;
	left: 0;
}

#reset-pwd-form .reset-pwd-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
	background: radial-gradient(#eae7e7, transparent);
}

#reset-pwd-form .reset-pwd-block {
	position: relative;
	width: 40rem; 
	padding: 3rem 0;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
	margin-top: 8rem;
	margin-bottom: 3rem;
}

#reset-pwd-form .reset-pwd-title {
	display: flex;;
	justify-content: center;
	align-items: center;
	margin: 0 4.2rem 2rem;
	padding-bottom: 1rem;
	font-size: 28px;
	color: rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(69,65,78,.09);
}

#reset-pwd-form .reset-pwd-title, #reset-pwd-form .reset-pwd-sub-title {
	font-family: OpenSans-Regular;
	letter-spacing: 4px;
	line-height: 36px;
	/* margin-bottom: 20px; */
	/* margin-top: 1.5625VW; */
	text-align: center;
	text-transform: capitalize;
}

#reset-pwd-form .reset-pwd-sub-title {
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 32px;
	text-align: left;
}

#reset-pwd-form .input-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1.3020833333333335VW;
}

#reset-pwd-form .input-container .input-groups {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* text-transform: capitalize; */
}

#reset-pwd-form .input-container .input-groups .field-caption {
	width: 13rem;
	text-align: left;
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	vertical-align: middle;
	margin-bottom: 0px;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
}

#reset-pwd-form .input-container .input-groups .form-field {
	width: 17rem;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
	color: rgba(0,0,0,0.6);
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 10px;
}

#reset-pwd-form .radio-field .radio-input-section {
	display: inline-block;
	width: 18.4rem;
	padding: 10px 0;
}

#reset-pwd-form .radio-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 25px;
	-webkit-user-select: none;
	user-select: none;
	color: #000000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}
#reset-pwd-form .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#reset-pwd-form .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	border-radius: 50%;
}

#reset-pwd-form .textarea-sec textarea {
	width: 99%;
	border: 1px solid #e3e3e3;
	min-height: 40px;
	color: rgba(0,0,0,0.6);
	padding: 10px 10px;
}

#reset-pwd-form .flex-box {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

#reset-pwd-form .form-submit-section {
	text-align: center;
	margin: 2rem 0 0;
}

#reset-pwd-form .outer-btn {
	display: inline-block;
	/* border: 1px solid #D6B981; */
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 172px;
	cursor: pointer;
	/* margin-top: 20px; */
}

#reset-pwd-form .form-submit-section .btn {
	width: 100%;
	height: 100%;
	/* background-color: #D6B981; */
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#reset-pwd-form .form-submit-section .btn:hover { 
  background-color: transparent;
  color: rgba(69,65,78, .6);
}

#reset-pwd-form .sign-up-block,
#reset-pwd-form .sign-up-terms {
	width: 29rem;
	text-align: right;
	font-family: OpenSans-Regular;
	font-size: 12px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	margin: 0 auto;
	letter-spacing: .5px;
}

#reset-pwd-form .sign-up-block span {
	font-family: OpenSans-Bold;
	color: rgba(0,0,0,0.8);
	cursor: pointer;
}

#reset-pwd-form .sign-up-block span:hover, #reset-pwd-form .sign-up-terms span:hover { text-decoration: underline; }

#reset-pwd-form .sign-up-terms { 
	padding-top: 1.5rem;
	text-align: center; 
}

#reset-pwd-form .sign-up-terms span { 
	font-family: OpenSans-Bold;
	color: rgba(0,0,0,0.8);
	cursor: pointer;
}

#reset-pwd-form .cls-err-msg  {
	margin-top: 2rem;
margin-bottom: 2rem;
}

#reset-pwd-form .reset-pwd-back {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-family: OpenSans-SemiBold;
	font-size: 12px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	text-decoration: underline;
	letter-spacing: .5px;
}

#reset-pwd-form .reset-pwd-back a {
	color: rgba(0,0,0,0.6);
}

#reset-pwd-form .out-radio-ex-size { 
	padding-left: 16.3rem;
	margin-bottom: 1.3020833333333335VW;
 }

#reset-pwd-form .mar-bot { margin-bottom: 0; }
#reset-pwd-form .no-pad { padding: 0; }

#reset-pwd-form .error-title { width: 17rem; }

/* custom Radio fields - start */
#reset-pwd-form .radio-container { display: inline-block; position: relative; cursor: pointer; padding-left:25px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #000000; font-family: OpenSans-Regular; font-size: 14px; line-height: 19px; }
/* Hide the browser's default radio button */
#reset-pwd-form .radio-container input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */
#reset-pwd-form .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border:1px solid #e3e3e3; background-color: #ffffff; border-radius: 50%; }
/* On mouse-over, add a grey background color */
#reset-pwd-form .radio-container:hover input ~ .checkmark { background-color: #FFFFFF; }
/* Create the indicator (the dot/circle - hidden when not checked) */
#reset-pwd-form .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */
#reset-pwd-form .radio-container input:checked ~ .checkmark:after { display: block; background-color: rgba(69,65,78, .6); }
/* Style the indicator (dot/circle) */
#reset-pwd-form .radio-container .checkmark:after { top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: white; }
/* custom Radio fields - end */

