.Toastify {
  position: fixed !important;
  right: 0;
  z-index: 999999;
}

.Toastify__toast {
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: unset !important;
}

.Toastify__toast--default {
  background: transparent !important;
  margin-right: 0px;
  margin-top: 0px;
}

.Toastify__close-button--default {
  display: none;
  margin-top: 5px;
}

.Toastify__close-button {
  display: none;
  position: absolute!important;
  top: 0!important;
  right: 10px!important;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.Toastify__toast-container {
  right: 0 !important;
  z-index: 999999 !important;
}

#toaster-block {
  width: 220px;
  height: 60px;
  display: flex;
  border-radius: 5px 0 0 5px;
  background-color: #ECEBD2;
  margin-left: 6rem;
  box-shadow: 0 3px 18px 3px rgba(0,0,0,0.06);
}

#toaster-block .toaster-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  border-radius: 5px 0 0 5px;
  background-color: #7CA049;
}

#toaster-block .toaster-right p {
  margin-bottom:0px;
}

#toaster-block .toaster-right .toaster-title {
  text-transform: uppercase;
  color: #7CA049;
  font-family: OpenSans-SemiBold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: .4px;
  padding: 22px 10px;
  margin: 0;
}

#toaster-block .toaster-right .toaster-body {
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: .4px;
  padding: 0 10px 10px 10px;
}


