#login-form {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	background: radial-gradient(#eae7e7, transparent);
}

#login-form .hdr-block {
	position: fixed;
	left:0;
	top: 0;
	filter: blur(8px);
	/* height: 145vh; */
}

#login-form .brand-logo {
	position: fixed;
	z-index: 1;
	left: 0;
}

#login-form .login-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-form .login-block {
	position: relative;
	width: 35rem; 
	padding: 3rem 0 2rem;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 15px 1px rgba(69,65,78,.08); 
}

#login-form .login-title {
	display: flex;;
	justify-content: center;
	align-items: center;
	/* height: 5rem; */
	margin: 0;
	padding-bottom: 3rem;
	font-size: 28px;
}

#login-form .login-title, #login-form .login-sub-title {
	font-family: OpenSans-Regular;
	letter-spacing: 4px;
	line-height: 36px;
	/* margin-bottom: 20px; */
	/* margin-top: 1.5625VW; */
	text-align: center;
	color: rgba(0,0,0,0.6);
	text-transform: capitalize;
}

#login-form .login-sub-title {
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 32px;
	text-align: left;
}

#login-form .input-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1.3020833333333335VW;
}

#login-form .input-container .input-groups {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* text-transform: capitalize; */
}

#login-form .input-container .input-groups .field-caption {
	width: 7rem;
	text-align: left;
	font-family: OpenSans-SemiBold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	vertical-align: middle;
	margin-bottom: 0px;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
}

#login-form .input-container .input-groups .form-field {
	width: 17rem;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
	color: rgba(0,0,0,0.6);
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 10px;
}

#login-form .radio-field .radio-input-section {
	width: 50%;
	display: inline-block;
}

#login-form .radio-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 25px;
	-webkit-user-select: none;
	user-select: none;
	color: #000000;
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 19px;
}
#login-form .radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#login-form .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	border-radius: 50%;
}

#login-form .textarea-sec textarea {
	width: 99%;
	border: 1px solid #e3e3e3;
	min-height: 40px;
	color: rgba(0,0,0,0.6);
	padding: 10px 10px;
}

#login-form .flex-box {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

#login-form .form-submit-section {
	text-align: center;
	margin: 2rem 0 0;
}

#login-form .outer-btn {
	display: inline-block;
	/* border: 1px solid #D6B981; */
	border: 1px solid rgba(69,65,78, .6);
	padding: 2px;
	height: 40px;
	width: 172px;
	cursor: pointer;
	/* margin-top: 20px; */
}

#login-form .form-submit-section .btn {
	width: 100%;
	height: 100%;
	/* background-color: #D6B981; */
	background: rgba(69,65,78, .6);
	color: #FFFFFF;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#login-form .form-submit-section .btn:hover { 
  background-color: transparent;
	color: rgba(69,65,78, .6);
	cursor: pointer;
}

#login-form .sign-up-block { 
	text-align: center;
	font-family: OpenSans-Regular;
	font-size: 12px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	padding-top: 2rem;
	letter-spacing: .5px;
}

#login-form .sign-up-block span {
  font-family: OpenSans-Bold;
	color: rgba(0,0,0,0.8)
}

#login-form .sign-up-block span:hover { text-decoration: underline; cursor: pointer; }

#login-form .sign-up-block span:active { color: rgba(0,0,0,0.8); }

#login-form .cls-err-msg  {
  width: 25rem;
  margin: 2rem auto;
}
	
#login-form .login-back {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: OpenSans-SemiBold;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  text-decoration: underline;
  letter-spacing: .5px;
}

#login-form .login-back a {
  color: rgba(0,0,0,0.6);
}

#login-form .login-forget-pwd {
  width: 25rem;
  font-family: OpenSans-SemiBold;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  margin: 0 auto;
  text-align: right;
}

#login-form .login-forget-pwd span {
  color: rgba(0,0,0,0.6);
  text-decoration: underline;
  cursor: pointer;
}


/* custom Radio fields - start */
#login-form .radio-container { display: inline-block; position: relative; cursor: pointer; padding-left:25px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #000000; font-family: OpenSans-Regular; font-size: 14px; line-height: 19px; }
/* Hide the browser's default radio button */
#login-form .radio-container input { position: absolute; opacity: 0; cursor: pointer; }
/* Create a custom radio button */
#login-form .checkmark { position: absolute; top: 0; left: 0; height: 16px; width: 16px; border:1px solid #e3e3e3; background-color: #ffffff; border-radius: 50%; }
/* On mouse-over, add a grey background color */
#login-form .radio-container:hover input ~ .checkmark { background-color: #FFFFFF; }
/* Create the indicator (the dot/circle - hidden when not checked) */
#login-form .checkmark:after { content: ""; position: absolute; display: none; }
/* Show the indicator (dot/circle) when checked */
#login-form .radio-container input:checked ~ .checkmark:after { display: block; background-color: rgba(69,65,78, .6); }
/* Style the indicator (dot/circle) */
#login-form .radio-container .checkmark:after { top: 3px; left: 3px; width: 10px; height: 10px; border-radius: 50%; background: white; }
/* custom Radio fields - end */

