/*  Font styles - Start */
@font-face { font-family: Prata-Regular; src: url(/assets/fonts/Prata/Prata-Regular.ttf) format('truetype'); }
@font-face { font-family: OpenSans-Bold; src: url(/assets/fonts/OpenSans/OpenSans-Bold.ttf) format('truetype'); }
@font-face { font-family: OpenSans-BoldItalic; src: url(/assets/fonts/OpenSans/OpenSans-BoldItalic.ttf) format('truetype'); }
@font-face { font-family: OpenSans-ExtraBold; src: url(/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype'); }
@font-face { font-family: OpenSans-ExtraBoldItalic; src: url(/assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf) format('truetype'); }
@font-face { font-family: OpenSans-Italic; src: url(/assets/fonts/OpenSans/OpenSans-Italic.ttf) format('truetype'); }
@font-face { font-family: OpenSans-Light; src: url(/assets/fonts/OpenSans/OpenSans-Light.ttf) format('truetype'); }
@font-face { font-family: OpenSans-LightItalic; src: url(/assets/fonts/OpenSans/OpenSans-LightItalic.ttf) format('truetype'); }
@font-face { font-family: OpenSans-Regular; src: url(/assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype'); }
@font-face { font-family: OpenSans-SemiBold; src: url(/assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format('truetype'); }
@font-face { font-family: OpenSans-SemiBoldItalic; src: url(/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf) format('truetype'); }
/*  Font styles - End */

/********************************************************** scroll bar - Start */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(0, 0, 0, 0.2);
}
/********************************************************** scroll bar - End */

/********************************************************** placeholder - Start */
::placeholder { color: rgba(0,0,0,0.3); opacity: 1; } /* Firefox */
:-ms-input-placeholder { color: rgba(0,0,0,0.3); } /* Internet Explorer 10-11 */
::-ms-input-placeholder { color: rgba(0,0,0,0.3); } /* Microsoft Edge */
/********************************************************** placeholder - End */

body {
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

ol, ul { list-style: none; margin: 0; }

a { text-decoration: none; background-color: transparent; }

a:hover { text-decoration: none; cursor: pointer; }

textarea:focus, input:focus { outline: none; }

input:disabled { background: transparent; }

.form-control { border: transparent; font-family: OpenSans-Regular; font-size: 14px; line-height: 19px; color: rgba(0,0,0,0.6); }

.error { border: 1px solid rgba(255,0,0,0.35) !important; }

.error-title { color: rgba(255,0,0,0.6); padding-top: 3px; font-family: OpenSans-Regular; font-size: 14px; }

.disablebtn { pointer-events: none !important; }
  
.cls-err-msg, .cls-success-msg {
  color: red;
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.7;
  margin-top: 30px;
}
.cls-success-msg { color: rgba(0,0,0,0.6); }
.send-noti {
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 19px; 
  text-align: left;
  margin: 1.5625VW auto 0;
}

.pre-suc-response, .suc-response { 
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.6;
  text-align: center; 
}

.pre-suc-response { color: #000; }
.suc-response { color: green; }
.fail-response { color: red; }

.img-home-bg {
  background: url('/assets/images/home-slide-1.jpg');
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.brand-logo {
  position: absolute;
  background: url('/assets/images/brand-logo.png');
  width: 160px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 2rem 0 0 2rem;
}

.lms-logo {
  background: url('/assets/images/ic-lms.png');
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.ic-success {
  background: url('/assets/images/ic_success.png');
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.ic-download {
  background: url('/assets/images/ic-download.png');
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 25px;
  cursor: pointer;
}



